body{
	margin-left: 150px;
	margin-right:150px;
}

.text{
	text-align: center;
}

#title{
	font-size: 70px;
	font-family: Courier;
}

.work{
	margin-left: 30px;
	margin-top: 20px;
	margin-right: 30px;
	margin-bottom: 20px;
}

.work h1{
	font-size: 60px;
}

.work p{
	font-size:30px;
	margin-left:250px;
	margin-top: 20px;
}

.detail{
	font-size: 20px;
}


#blog{
	margin-top: 60px;
	font-size: 30px;
}

#exp{
	font-size: 50px;

}
#songs{
	margin-top: 50px;
	font-size: 50px;

}